body {
  padding: 20px;

  button.btn {
    background: #e67e22;
    border: 2px solid #e67e22;
    color: #fff;
    padding: 15px 25px;
    font-size: 18px;
    transition: all ease-out 0.5s;

    &:hover {
      colors: #e67e22;
      background: transparent;
    }
  }
}

/* Do not remove the comments below. It's the markers used by gulp-inject to inject
   all your sass files automatically */
// injector
// endinjector